//Fonts
$font-primary:'Open Sans', sans-serif;
$font-secondary:'Roboto', sans-serif;

//Colors
$color-bg:hsl(0, 0%, 20%);
$color-bg--light:hsl(0, 0%, 28%);
$color-primary:hsl(109, 52%, 49%);
$color-secondary:hsl(120, 100%, 96%);
$color-white:hsl(0, 0%, 97%);
$color-error: hsl(0, 80%, 45%);

//Headers
.heading-1{
    font-family: $font-secondary;
    font-size: 6rem;
    font-weight: 300;
    color: $color-secondary;
    text-align: center;
    & span{color: $color-primary;}
}

.heading-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: $color-primary;
    & q{color: $color-secondary; font-size: 2rem;}
}

//Breakpoints
$bp-800:50em;
$bp-500:31.25em;
$bp-400:25em;

//Animations
@keyframes rotate {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}